
footer {
    background-color: #f1f1f1;
}



.searchSection {
    width: 100%;
    background-image: url("images/railway-wallpaper-1920x1200.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
    background-attachment: local;
    background-size: cover;
}

a.btn-light{
    background-color: #f1f1f1 !important;
}
